In [1]:
import numpy as np

import mysql.connector as sql

In [5]:
db_connection = sql.connect(host='127.0.0.1', database='employees', user='root', password='')
db_cursor = db_connection.cursor()
db_cursor.execute("SELECT salary FROM salaries limit 1000")
table_rows = db_cursor.fetchall()

In [6]:
salaries_arrya = np.array(table_rows)

In [9]:
salaries_arrya.mean()

64419.765

In [10]:
import re

mystr = File("/")